<template>
  <div class="video-container d-flex flex-column">
    <p class="video-container__connections-count">
      Участников: {{ connectionsCount }}
    </p>
    <p
      v-if="connectionsCount < 2"
      class="video-container__no-connections-text"
    >
      Вы единсвенный участник
    </p>
    <div
      ref="videoContainer"
      class="video-container__content d-flex align-center flex-grow-1"
    />
    <video-controls
      @leaveMeeting="leaveMeeting"
    />
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'nuxt-property-decorator'
import Peer from 'peerjs'
import type { NuxtSocket } from 'nuxt-socket-io'
import { mapGetters } from 'vuex'

import VideoControls from '~/components/VideoControls.vue'

interface ICall extends Peer.MediaConnection {
  connectionId: string
}

@Component({
  components: { VideoControls },
  computed: {
    ...mapGetters({
      stream: 'confCtrl/getLocalStream'
    })
  }
})
export default class VideoContainer extends Vue {
  stream: MediaStream | null

  socket: NuxtSocket | null = null
  peer: Peer | null = null
  connections: { [key: string]: ICall } = {}

  $refs: {
    videoContainer: HTMLDivElement
  }

  async created() {
    const stream = await this.getUserMedia()
    this.$store.dispatch('confCtrl/setLocalStream', stream)

    this.socket = this.$nuxtSocket({
      name: 'main'
    })
    this.socket.on('connect', () => {
      this.socket!.on('user-connected', (peerId: string) => {
        this.callUser(peerId, this.stream!)
      })

      this.socket!.on('user-disconnected', (peerId: string) => {
        this.connections[peerId].close()
        this.$delete(this.connections, peerId)
      })

      this.peer = new Peer()

      this.peer.on('open', (id) => {
        this.socket!.emit('join-room', {
          roomId: this.$route.params.id,
          peerId: id
        })
      })

      this.peer.on('call', (call: ICall) => {
        call.answer(this.stream!)
        call.on('stream', (remoteStream) => {
          if (this.connections[call.connectionId]) {
            return
          }
          this.$set(this.connections, call.connectionId, call)
          this.renderVideo(this.$refs.videoContainer, remoteStream)
        })
      })
    })
  }

  callUser(peerId: string, stream: MediaStream) {
    const call = this.peer!.call(peerId, stream)
    let video: HTMLVideoElement | null = null

    call.on('stream', (userVideoStream) => {
      if (this.connections[peerId]) {
        return
      }
      this.$set(this.connections, peerId, call)
      video = this.renderVideo(this.$refs.videoContainer, userVideoStream)
    })
    call.on('close', () => {
      if (video) {
        video.remove()
      }
    })
  }

  async getUserMedia(): Promise<MediaStream | null> {
    try {
      return await navigator.mediaDevices.getUserMedia({ video: true, audio: true })
    } catch (err) {
      console.error('Failed to get local stream', err)
      return null
    }
  }

  renderVideo(container: HTMLDivElement, stream: MediaStream): HTMLVideoElement {
    const video = document.createElement('video')
    video.autoplay = true
    video.srcObject = stream
    container.append(video)
    return video
  }

  leaveMeeting() {
    this.socket?.close()
    this.$router.push('/')
  }

  get connectionsCount(): number {
    return Object.values(this.connections).length + 1
  }
}
</script>

<style lang="scss">
.video-container {
  position: relative;
  height: 100%;

  &__connections-count {
    position: absolute;
    left: 10px;
    top: 10px;
    font-weight: 500;
    font-size: 18px;
  }

  &__no-connections-text {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto !important;
    font-weight: 700;
    font-size: 30px;
    height: 30px;
    width: 500px;
    text-align: center;
  }

  &__content {
    height: 100%;
    overflow-x: auto;

    video:not(:last-of-type) {
      margin-right: 15px;
      flex: 0 0 600px;
    }

    &::before,
    &::after {
      content: "";
      margin: auto;
    }
  }
}
</style>
