<template>
  <div class="video-controls  d-flex align-center justify-center">
    <v-btn
      outlined
      medium
      fab
      color="white"
      class="mr-3"
      @click="changeAudioState"
    >
      <v-icon>
        {{ audioIcon }}
      </v-icon>
    </v-btn>
    <v-btn
      outlined
      medium
      fab
      color="white"
      class="mr-3"
      @click="leaveMeeting"
    >
      <v-icon>mdi-phone-hangup</v-icon>
    </v-btn>
    <v-btn
      outlined
      medium
      fab
      color="white"
      class="mr-3"
      @click="changeVideoState"
    >
      <v-icon>
        {{ videoIcon }}
      </v-icon>
    </v-btn>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'nuxt-property-decorator'
import { mapGetters, mapActions } from 'vuex'

@Component({
  computed: {
    ...mapGetters({
      isVideoEnabled: 'confCtrl/isVideoEnabled',
      isAudioEnabled: 'confCtrl/isAudioEnabled'
    })
  },
  methods: {
    ...mapActions({
      changeVideoState: 'confCtrl/changeVideoState',
      changeAudioState: 'confCtrl/changeAudioState'
    })
  }
})
export default class VideoControls extends Vue {
  isAudioEnabled: boolean
  isVideoEnabled: boolean

  get audioIcon(): string {
    return `mdi-microphone${this.isAudioEnabled ? '' : '-off'}`
  }

  get videoIcon(): string {
    return `mdi-camera${this.isVideoEnabled ? '' : '-off'}`
  }

  leaveMeeting() {
    this.$emit('leaveMeeting')
  }
}

</script>

<style lang="scss" scoped>
.video-controls {
  width: 100%;
  height: 90px;
}
</style>
