<template>
  <v-app dark>
    <nuxt />
  </v-app>
</template>

<script lang="ts">
import { Vue, Component } from 'nuxt-property-decorator'

@Component
export default class DefaultLayout extends Vue {

}
</script>

<style lang="scss">
html {
  overflow: auto;
}
</style>
