<template>
  <div class="room-page">
    <video
      ref="localVideo"
      class="local-video"
      autoplay
      muted
    />
    <video-container />
  </div>
</template>

<script lang="ts">
import { Vue, Component, Watch } from 'nuxt-property-decorator'
import { mapGetters } from 'vuex'

import VideoContainer from '~/components/VideoContainer.vue'

@Component({
  components: { VideoContainer },
  computed: {
    ...mapGetters({
      localStream: 'confCtrl/getLocalStream'
    })
  }
})
export default class RoomPage extends Vue {
  $refs: {
    localVideo: HTMLVideoElement
  }

  @Watch('localStream')
  onLocalStreamLoaded(value: MediaStream | null, preValue: MediaStream | null) {
    if (!preValue || value) {
      this.$refs.localVideo.srcObject = value
    }
  }
}
</script>

<style lang="scss" scoped>
.room-page {
  height: 100%;

  .local-video {
    position: absolute;
    right: 0;
    top: 0;
    width: 300px;
  }
}
</style>
