<template>
  <div class="index-page d-flex flex-column align-center justify-center">
    <h1>- DonNTU Meet -</h1>
    <v-btn
      outlined
      large
      color="white"
      class="mt-4"
      @click="redirectToMeeting"
    >
      Создать совещание
    </v-btn>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'nuxt-property-decorator'
import { v4 as uuidv4 } from 'uuid'

@Component
export default class IndexPage extends Vue {
  redirectToMeeting() {
    this.$router.push(`/${uuidv4()}`)
  }
}
</script>

<style lang="scss" scoped>
.index-page {
  height: 100%;
}
</style>
